<h3>Notes for <%= @episode.title %></h3>

<% if !@episode.notes.empty? %>
<table class="table table-hover">
  <tr>
    <th>Note</th>    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notes.each do |note| %>
  <tr>
    <td><%= note.note_text %></td>    
	<td><%= link_to 'Show', [@program, @episode, note], class: "btn btn-primary" %></td>
	<% if logged_in? %>    
    <td><%= link_to 'Edit', edit_program_episode_note_path(@program, @episode, note), class: "btn btn-primary" %></td>
    <td><%= link_to 'Destroy', [@program, @episode, note], class: "btn btn-danger", confirm: 'Are you sure?', method: :delete %></td>
    <% else %>
    <td><%= link_to 'Edit', edit_program_episode_note_path(@program, @episode, note), class: "btn btn-primary disabled" %></td>
    <td><%= link_to 'Destroy', [@program, @episode, note], class: "btn btn-danger disabled", method: :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />
<% else %>
  <p>This episode has no notes.</p>
<% end %>
<%= link_to 'New Note', new_program_episode_note_path(@program, @episode), class: "btn btn-primary" %>
<%= link_to 'Back', program_episode_path(@program, @episode), class: "btn btn-primary" %>
