<h3>Programs</h3>

<div class="slider-wrapper theme-default"> 
    <div class="ribbon"></div> 
        <div id="slider" class="nivoSlider"> 
    <img src="nemo.jpg" alt="Nemo" title="This is an example of a caption" />
    <img src="up.jpg" alt="Up" title="This is an example of a caption" />
    <img src="toystory.jpg" alt="Toy Story" title="This is an example of a caption" />
    <img src="walle.jpg" alt="" />
        </div> 
    </div>


<table class="table table-hover">
  <tr>
    <th>Name</th>
	<th>Episodes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @programs.each do |program| %>
  <tr>
    <td><%= program.name %></td>
	<td><%= program.episodes.count %></td>
    <td><%= link_to 'Show', program, class: "btn btn-primary" %></td>
	<% if logged_in? %>
    <td><%= link_to 'Edit', edit_program_path(program), class: "btn btn-primary" %></td>
    <td><%= link_to 'Destroy', program, class: "btn btn-danger", confirm: 'Are you sure?', method: :delete %></td>
    <% else %>
	<td><%= link_to 'Edit', edit_program_path(program), class: "btn btn-primary disabled" %></td>
    <td><%= link_to 'Destroy', program, class: "btn btn-danger disabled", method: :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />
<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider({effect: 'fade', navDirection:true});
});
</script>
<%= link_to 'New Program', new_program_path, class: "btn btn-primary" %>