<div class="row"><div class="span12">
<div class="image_carousel">
				<div id="imglisting">
				<img src="c19copy.png" alt="Star Trek: TAS" />
				
				    <img src="c2copy.png" alt="UFO" />
					<img src="c12copy.png" alt="Six-Million Dollar Man" />
					<img src="c3copy.png" alt="UFO" />
					
					
					
				<img src="c6copy.png" alt="Ultraman" />
				    
				
					<img src="c9copy.png" alt="The Saint" />
					<img src="c10copy.png" alt="Quark" />
					<img src="c4copy.png" alt="Nemo" />
				<img src="c11copy.png" alt="Six-Million Dollar Man" />
				    
					<img src="c13copy.png" alt="The Outer Limits" />
						<img src="c8copy.png" alt="The Saint" />
						<img src="c23copy.png" alt="The Prisoner" />
					<img src="c14copy.png" alt="Speed Racer" />
					<img src="c1copy.png" alt="UFO" />
					<img src="c15copy.png" alt="Speed Racer" />
				<img src="c17copy.png" alt="Space:1999" />
				    
					
					<img src="c20copy.png" alt="Star Trek: TAS" />
					<img src="c5copy.png" alt="Ultraman" />
					
					<img src="c21copy.png" alt="Star Trek: TAS" />
				    
					
					<img src="c24copy.png" alt="The Prisoner" />
					<img src="c25copy.png" alt="Secret Agent" />
				</div>
				<div class="clearfix"></div>
			</div>
</div></div>

<div class="row"><div class="span12">
<table class="table table-hover center-table">
  <tr>
    <th>Program</th>
	<th>Episodes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @programs.each do |program| %>
  <tr>
    <td><%= program.name %></td>
	<td><%= program.episodes.count %></td>
    <td><%= link_to 'Show', program, class: "btn btn-primary" %></td>
	<% if logged_in? && authorized? %>
    <td><%= link_to 'Edit', edit_program_path(program), class: "btn btn-primary" %></td>
    <td><%= link_to 'Destroy', program, class: "btn btn-danger", confirm: 'Are you sure?', method: :delete %></td>
    <% else %>
	<td><%= link_to 'Edit', edit_program_path(program), class: "btn btn-primary disabled" %></td>
    <td><%= link_to 'Destroy', program, class: "btn btn-danger disabled", method: :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>
</div></div>
<br />
<% if logged_in? && authorized? %>
<%= link_to 'New Program', new_program_path, class: "btn btn-primary" %>
<% end %>
<script type="text/javascript">
$(window).load(function() {    
	$("#imglisting").carouFredSel();
	
});
</script>