<p id="notice"><%= notice %></p>
<h3><%= @program.name %></h3>

<%= image_tag @program.photo.url %>
<br/>

<% if logged_in? && authorized? %> 
<%= link_to 'Edit', edit_program_path(@program), class: "btn btn-primary" %> 
<% end %>
<%= link_to 'Episodes', program_episodes_path(@program), class: "btn btn-primary" %> 

<%= link_to 'Back', programs_path, class: "btn btn-primary" %>
