<p id="notice"><%= notice %></p>
<h3><%= @program.name %></h3>

<% if @program.has_photo? %>
  <%= image_tag @program.photo_path %>
<% else %>
  No photo.
<% end %>


<%= link_to 'Edit', edit_program_path(@program), class: "btn btn-primary" %> 

<%= link_to 'Episodes', program_episodes_path(@program), class: "btn btn-primary" %> 

<%= link_to 'Back', programs_path, class: "btn btn-primary" %>
