<%= form_for([@program, @episode]) do |f| %>
  <% if @episode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@episode.errors.count, "error") %> prohibited this episode from being saved:</h2>

      <ul>
      <% @episode.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!--<div class="field">
    <%= f.label :program_id %><br />
	<%= f.select :program_id, Program.find(:all, :order => "name").collect{|p|
	      [p.name, p.id]} 
    %>
  </div>-->
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :rating %><br />
    <%= f.number_field :rating %>
  </div>
  <div class="field">
    <%= f.label :synopsis %><br />
    <%= f.text_field :synopsis %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
