<h2>Episodes / <%= @program.name %></h2>
<% if !@program.episodes.empty? %>
<table class="table table-hover">
  <tr>
    <th>Title</th>
    <th>Rating</th>
    <th>Synopsis</th>
    <th></th>
    <th></th>
    <th></th>
	<th></th>
  </tr>

<% @episodes.each do |episode| %>
  <tr>
    <td><%= episode.title %></td>
    <td><%= episode.rating %></td>
    <td><%= episode.synopsis %></td>
    <td><%= link_to 'Show', [@program, episode], class: "btn btn-primary" %></td>
	<% if logged_in? %>
    <td><%= link_to 'Edit', edit_program_episode_path(@program, episode), class: "btn btn-primary" %></td>
	<td><%= link_to 'Notes', program_episode_notes_path(@program, episode), class: "btn btn-primary" %></td>
    <td><%= link_to 'Destroy', [@program, episode], class: "btn btn-danger", confirm: 'Are you sure?', method: :delete %></td>
    <% else %>	
    <td><%= link_to 'Edit', edit_program_episode_path(@program, episode), class: "btn btn-primary disabled" %></td>
	<td><%= link_to 'Notes', program_episode_notes_path(@program, episode), class: "btn btn-primary" %></td>
    <td><%= link_to 'Destroy', [@program, episode], class: "btn btn-danger disabled", method: :delete %></td>
    <% end %>  
  </tr>
<% end %>
</table>

<br />
<% else %>
  <p>There are no <%= @program.name %> episodes.</p>
<% end %>

<%= link_to 'New Episode', new_program_episode_path %> |
<%= link_to 'Back', programs_path %>
